# Ignore everything by default
*

# Allow these specific files/directories
!.gitignore
!starship.toml
!bash_custom
!bash_custom/**
!.util
!.util/**
!nvim
!nvim/**
!tmux
!tmux/**
!hypr
!hypr/**
!systemd
!systemd/user
!systemd/user/repo-checkin.service
!systemd/user/repo-checkin.timer
!systemd/user/omarchy-theme-roller.service
!systemd/user/storj-push.service
!systemd/user/storj-push.timer
!systemd/user/storj-pull.service
!systemd/user/storj-pull.timer
!systemd/user/storj-lifecycle.service
!systemd/user/storj-lifecycle.timer
!systemd/user/service-failure*
!waybar
!waybar/**
!alacritty
!alacritty/**
!opencode
!opencode/opencode.json

# OK, now that we have all the top-dir's that we want, there are some dir's nested in them we do not want included

# Exclude cache and claude folders everywhere
**/.cache/
**/.claude/

nvim/lazy-lock.json

# Exlude the shaders dir in hypr
hypr/shaders

# Exlude private secrets
bash_custom/private_exports.conf

# Exclude Filter files for the proton-sync-drive
bash_custom/scripts/sync_drive/*.filter
# Include the example filter
!bash_custom/scripts/sync_drive/example.filter
