[Unit]
Description=Proton Drive Mount
After=network-online.target
Wants=network-online.target
ConditionPathIsMountPoint=!%h/ProtonDrive

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount ProtonDrive: %h/ProtonDrive --vfs-cache-mode full --vfs-write-back 2s --vfs-cache-max-age 1h --vfs-cache-max-size 1G
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
