[Unit]
Description=Proton Drive Background Push
OnFailure=service-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -n /tmp/proton-drive-push.lock /home/jaime/.config/bash_custom/scripts/sync_drive/push_drive_service.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=1h
