[Unit]
Description=Storj pull (remote to local)
OnFailure=service-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flock /tmp/storj-sync.lock /home/jaime/.config/bash_custom/scripts/storj/pull_storj.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=2h
