[Unit]
Description=Storj version lifecycle cleanup
OnFailure=service-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -n /tmp/storj-lifecycle.lock /home/jaime/.config/bash_custom/scripts/storj/lifecycle_storj.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=2h
